/* Universal reset */
* {
    margin:0;
    padding: 0;
    box-sizing: 0;
    border: 1px soild rbg (200,200,200,200);
}

/* THIS IS THE FIRST section */
/* #182b36 is the hex code for the bg  */
/* #eab100 is the yellow. */
body {
  margin:5px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
  color: white;
  background-color: green;
}

header span {
  color: #eab100
}

.squares span{
  color:#eab100;

}

.features {
  background-color: #182b36;
  color: white;
}

.features h2 {
    text-align:center;

}

.features span {
  color: #eab100;
}

.goodnight{
  background-color: #eab100;
  text-align:center;
}
.goodnight span {
  color: white;
}

footer {
  color: white;
}

footer span {
    color:#eab100;
}
  header, footer, section {
      padding: 5%;
      border: 2px solid black;
  }

footer {
  background-color: #182b36
}
